#define DEFAULT 0
#define SYM     1
#define FUN     2
#define MOUSE   3
#define SCROLL  4
#define SNIPE   5

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        back {
            bindings = <&kp RG(LEFT_BRACKET)>;
            key-positions = <31 32>;
        };

        fwd {
            bindings = <&kp RG(RIGHT_BRACKET)>;
            key-positions = <28 27>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 38 39 40 3 36 37 26 28 29 38 39 40 41 42 52 53 54 55 56 58 57 59 60 51 50>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 50 51 52 54 55 56 57 58 59 60 53>;
        };

        LMB_dt: LMB_dt {
            compatible = "zmk,behavior-tap-dance";
            label = "LMB_DT";
            #binding-cells = <0>;
            bindings = <&kp J>, <&mkp LCLK>;

            tapping-term-ms = <200>;
        };

        RMB_dt: RMB_dt {
            compatible = "zmk,behavior-tap-dance";
            label = "RMB_DT";
            #binding-cells = <0>;
            bindings = <&kp L>, <&mkp RCLK>;

            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp ESC         &kp N1             &kp N2           &kp N3           &kp N4        &kp N5                                            &kp N6       &kp N7        &kp N8            &kp N9            &kp N0                 &kp BSPC
&kp TAB         &kp Q              &kp W            &kp E            &kp R         &kp T                                             &kp Y        &kp U         &kp I             &kp O             &kp P                  &kp BACKSLASH
&kp ESCAPE      &hml LEFT_SHIFT A  &hml LEFT_GUI S  &hml LEFT_ALT D  &hml LCTRL F  &kp G                                             &kp H        &hmr RCTRL J  &hmr RIGHT_ALT K  &hmr RIGHT_GUI L  &hmr RIGHT_SHIFT SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z              &kp X            &kp C            &kp V         &kp B        &kp RG(TILDE)  &kp RG(LEFT_BRACKET)  &kp N        &kp M         &kp COMMA         &kp DOT           &kp FSLH               &kp RIGHT_SHIFT
&bt BT_SEL 0    &kp LCTRL          &kp LEFT_ALT     &kp LEFT_WIN     &mo 1         &lt 2 SPACE  &mo 3          &lt 1 RETURN          &lt 2 SPACE                                                    &none                  &bt BT_SEL 1
            >;
        };

        number_layer {
            bindings = <
&trans  &kp N1  &kp N2          &kp N3          &kp N4     &kp N5                  &kp N6  &kp N7          &kp N8          &kp N9           &kp N0  &trans
&trans  &trans  &trans          &kp UP_ARROW    &trans     &trans                  &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans                  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans          &trans          &trans     &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans          &trans          &trans     &trans  &trans  &trans  &trans                                                   &trans  &trans
            >;

            label = "NUM";
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN      &kp HASH         &kp DOLLAR       &kp PERCENT                      &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans                           &kp TILDE       &kp GRAVE      &kp LEFT_BRACE    &kp RIGHT_BRACE       &trans                 &trans
&trans  &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans                           &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &trans                 &trans
&trans  &trans           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_0  &trans  &trans  &kp UNDERSCORE  &kp PLUS       &trans            &trans                &trans                 &trans
&trans  &trans           &trans           &trans           &trans           &trans           &trans  &trans  &trans                                                                 &trans                 &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans   &trans   &trans   &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans   &trans   &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans   &trans   &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &LMB_dt  &lt 5 K  &RMB_dt  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &to 0                              &trans  &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans          &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans  &trans
            >;
        };
    };
};
